contexttimer
decord
diffusers
einops
ftfy
iopath
ipython
omegaconf
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy<3.8
streamlit
tqdm
webdataset
